body {
  background: #fff url("http://learnyousomeerlang.com/static/img/grass-top.jpg");
  background-repeat: repeat-x;
  background-position: 50% 0;
  margin: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 755px;
  min-height: 1000px;
}

#header {
  height: 200px;
  background: url("http://learnyousomeerlang.com/static/img/main-title.png") no-repeat;
  background-position: 55px 30px;
}
#header h1,
#header span {
  display: none;
}

/* Menu */
#menu {
  font-family: verdana;
  font-size: 0.8em;
  color: #aeaeae;
  position: absolute;
  top: 15px;
  right: 15%;
}
#menu ul li {
  display: inline;
}
#menu a {
  text-decoration: none;
  color: #aeaeae;
}
#menu a:hover {
  color: #999;
  text-decoration: underline;
}

/* Content */
#content {
  margin-top: 45px;
  padding-left: 50px;
}

/* Titles and subtitles */
#content h2 {
  margin-bottom: 5px;
  font-family: Arial;
  font-weight: bold;
  font-size: 2.6em;
  letter-spacing: -0.05em;
  color: #a7b774;
}
#content h3 {
  height: 35px;
  margin-left: -50px;
  margin-bottom: 40px;
  padding-left: 50px;
  border-bottom: 1px solid #ddd;
}
#content h3 a {
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.55em;
  letter-spacing: -0.05em;
  color: #8a8a8a;
}
#content h3:first-of-type {
  margin-top: 0;
}

/* Text */
#content p {
  font-family: verdana;
  color: #565656;
  font-size: 0.8em;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  padding-right: 50px;
}
#content p a {
  color: #778744;
}
#content p a:hover {
  color: #a7b774;
}
#content p code {
  font-size: 1.1em;
  font-family: monospace;
  background: #efc;
  border-bottom: 1px dotted #ad9;
  color: #555;
}

/* Images */
#content img {
  display: block;
}
#content img.left {
  float: left;
}
#content img.right {
  float: right;
}
#content div.note {
  font-size: 18px;
  border: 1px solid #e1e4ea;
  margin: 10px;
  padding: 2px 10px 2px 10px;
  background: #eff3f8;
}

/* Table */
#content table {
  text-align: left;
  margin: 10px;
  padding: 5px;
  border: 2px solid #B1C377;
  border-radius: 15px;
  border-spacing: 0;
}
#content table td {
  width: 50%;
}
#content table tr td {
  font-size: 14px;
  font-family: verdana;
  color: #8a8a8a;
  padding: 5px;
}
#content table tr:nth-child(even) {
    background-color: #eee;
}
#content table tr:nth-child(odd) {
    background-color: #fff;
}
#content table tr td a {
  text-decoration: none;
  color: #a7b774;
}
#content table tr td a:hover {
  text-decoration: underline;
  color: #666;
}

/* Example code */
#example_code {
  background-color: #C4D7D6;
  padding: 2px 10px 2px 10px;
  font-family: "consolas", monospace;
  font-style: italic;
  font-size: 14px;
}


/* Inside */
ul.toc {
  list-style-type: disc;
  list-style-position: inside;
}
ul.toc li {
  margin-top: 1em;
}
ul.toc li a {
  font-family: verdana;
  color: #a7b774;
}
ul.toc li a:hover {
  color: #666;
}

/* Navigation */
ul.navigation {
  margin-left: -50px;
  padding-left: 50px;
  margin-top: 20px;
  height: 50px;
  border-bottom: 1px solid #ddd;
}
ul.navigation li {
  float: left;
  display: block;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}
ul.navigation a {
  color: #a7b774;
  font-family: arial;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: underline;
  letter-spacing: -0.05em;
}
ul.navigation a:hover {
  color: #666;
}

/* Bottom */
#grass {
  height: 54px;
  background: url("http://learnyousomeerlang.com/static/img/grass-bottom.jpg") repeat-x;
}

/* Tip */
#tip {
  position: fixed;
  left: -290px;
  top: 220px;
  min-height: 70px;
  min-width: 300px;
  max-width: 600px;
  background-color: rgb(174,237,163);
  background-image: url("../img/tip.png");
  background-repeat: no-repeat;
  background-position: right center;
  border: 2px solid rgb(135,49,20);
  border-radius: 15px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-family: verdana;
  color: rgb(128,128,128);
}
#tip #code {
  background-color: #C4D7D6;
  padding: 2px 10px 2px 10px;
  font-family: "consolas", monospace;
  font-style: italic;
  font-size: 14px;
}

/* Input code */
#input_code {
  width: 100%;
}
#input_code form textarea {
  resize: none;
  width: 100%;
}

/* Output code */
#output_code {

}
